

body {
	background-image: url('../img/bg.png');
	}
	
	#main {
	
	background: #f2f1f1;
	border-top: #3a3e42 solid 10px;
	
	position: absolute;
	top: 150px;
	
	}
	
	
	.navbar {
	
	margin-bottom: 100px;
	margin-top:  0px;
	position: absolute;
	top: 0px;
	
	}